@layer base {
    .icon {
        @apply h-6 w-6;
    }

    .icon-sm {
        @apply h-4 w-4;
    }

    .cart {
        background: url('../../magento-os-frontend/image/icon/cart.svg')
            center / contain no-repeat;
    }

    .close {
        background: url('../../magento-os-frontend/image/icon/cross-small.svg')
            center / contain no-repeat;
    }

    .close-xs {
        @apply bg-[length:20px_20px];
    }

    .burger-menu {
        background: url('../../magento-os-frontend/image/icon/menu-burger.svg')
            center / contain no-repeat;
    }

    .settings {
        background: url('../../magento-os-frontend/image/icon/settings.svg')
            center / contain no-repeat;
    }

    .filter {
        background: url('../../magento-os-frontend/image/icon/bars-filter.svg')
            center / contain no-repeat;
    }

    .chevron-down {
        background: url('../../magento-os-frontend/image/icon/angle-small-down.svg')
            center / contain no-repeat;
    }

    .chevron-up {
        background: url('../../magento-os-frontend/image/icon/angle-small-down.svg')
            center / contain no-repeat;
        transform: scaleY(-1);
    }

    .arrow-left {
        background: url('../../magento-os-frontend/image/icon/arrow-small-left.svg')
            center / contain no-repeat;
    }

    .arrow-right {
        @apply arrow-left -scale-100;
    }

    .checkmark {
        background: url('../../magento-os-frontend/image/icon/check.svg')
            center / contain no-repeat;
    }

    .checkmark-green {
        background: url('../../magento-os-frontend/image/icon/check-green.svg')
            center / contain no-repeat;
    }

    .counter {
        @apply ml-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary-main text-xs font-normal text-white;
    }
}
