@layer base {
    input[type='text'] {
        @apply rounded-sm border px-4 py-2 text-gray-900 placeholder:text-gray-400 focus-visible:outline-hover-main sm:text-sm sm:leading-6;
    }

    label {
        @apply block text-sm font-normal leading-6 text-gray-900;
    }

    input[type='checkbox'],
    input[type='radio'] {
        @apply float-left m-0 h-0 w-0 opacity-0;
    }

    input[type='radio'] + label,
    input[type='checkbox'] + label {
        @apply relative inline-flex cursor-pointer gap-2 text-base font-normal;
    }

    input[type='checkbox'] + label:before {
        content: '';
        @apply h-6 w-6 shrink-0 rounded-sm border bg-white hover:border-primary-main;
    }

    input[type='checkbox']:checked + label:after {
        content: '';
        background: white
            url('../../lightna/magento-frontend/image/icon/check-white.svg')
            center / 14px no-repeat;
        @apply absolute flex h-6 w-6 items-center justify-center rounded-sm bg-primary-main text-xs text-white;
    }

    input[type='radio'] + label:before {
        content: '';
        @apply h-6 w-6 shrink-0 rounded-full border hover:border-primary-main;
    }

    input[type='radio']:checked + label:before {
        @apply border-primary-main;
    }

    input[type='radio']:checked + label:after {
        content: '';
        @apply absolute inset-1 flex h-4 w-4 items-center justify-center rounded-full bg-primary-main text-xs text-white;
    }

    button {
        @apply btn;
    }

    .field {
        @apply mb-4 leading-none;
    }
}
