<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lightna_Frontend::index" title="Lightna Index" translate="title" module="Lightna_Frontend"
             sortOrder="30" parent="Magento_Backend::system_tools" action="lightna/index/index"
             resource="Lightna_Frontend::index"/>
    </menu>
</config>
