<?php

return [
    'mode' => 'dev',
    'progressive_rendering' => false,
    'fpc_compatible' => false,
    'maintenance' => [],
    'storage' => [
         'opcache' => [
            'options' => [
                'dir' => '../../generated/magento-os/storage',
            ],
        ],
        'redis' => [
            'options' => [
                'host' => 'localhost',
                'port' => 6379,
                'db' => 0,
            ],
        ],
        'database' => [
            'options' => [
                'username' => '*****',
                'password' => '*****',
                'dbname' => '*****',
                'shared' => 'SHARED_PDO_CONNECTION',
            ],
        ],
    ],
    'router' => [
        'bypass' => [
            'rules' => [
                'url_starts_with' => [
                    'admin_*****(/|$)',
                ],
            ],
            'file' => '../../project/magento-os/pub/magento_index.php',
            'no_route' => 404,
        ],
    ],
    'session' => [
        'handler' => 'file',
    ],
    'project' => [
        'connection' => [
            'username' => '*****',
            'password' => '*****',
            'dbname' => '*****',
        ],
    ],
    'elasticsearch' => [
        'connection' => [
            'host' => 'localhost',
            'port' => 9200,
        ],
        'prefix' => '*****',
    ],
];
