@layer components {
    .page-header {
        @apply sticky top-0 z-[45] bg-white shadow-lg shadow-primary-main/5;
    }

    .header__container {
        @apply page-container grid grid-cols-3 items-center gap-3 py-4 md:grid md:grid-cols-5 md:py-0;
    }

    .header__open-menu {
        @apply icon icon-burger-menu md:hidden;
    }

    .header__left {
        @apply flex items-center justify-start gap-5 md:hidden;
    }

    .header__right {
        @apply flex items-center justify-end gap-5 md:py-5;
    }

    .header__icon {
        @apply flex flex-col items-center gap-1 cursor-pointer;
    }

    .header__icon--hover {
        @apply md:pointer-events-none;
    }

    @media (hover: hover) {
        .header__icon--hover {
            @apply md:pointer-events-auto;
        }
    }

    .logo__container {
        @apply flex items-center justify-center md:justify-start;
    }

    .logo__link {
        @apply inline-flex;
    }

    .logo__image {
        @apply max-h-12 md:max-w-[80px] lg:max-w-none;
    }
}
