@layer components {
    .toolbar {
        @apply flex items-center justify-between gap-4 mb-6;
    }

    .toolbar--bottom {
        @apply mt-8 py-4;
    }

    .toolbar--top {
        @apply border-b md:border-t md:py-2;
    }
}
