<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <upload_configuration>
                <jpeg_quality>90</jpeg_quality>
            </upload_configuration>
        </system>
    </default>
</config>
